*{
	margin:0;
	padding:0;
}
html,body{
	width:100%;
	height:100%;
}
header{
	width:100%;
	height:10%;
}
#menu{
	height:100%;
}
p{
	float:right;
	transform: translate(-500%, 170%);
}
nav{
	width:0%;
	height:0%;
	position:absolute;
	top:10%;
	left:0%;
	//display:none;
}
article{
	width:100%;
	min-height:85%;
}
footer{
	width:100%;
	height:5%;
}